body {
  background-color: ;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
}

.header {
  border-bottom: 1px dotted #BFBFBF;
}

.content {
  margin-top: 5%;
}

li {
  list-style: none;
}

h1 {
  font-family: 'Megrim', cursive;
  font-size: 60px;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

li, p, #learnmore {
  font-family: 'Roboto Slab', serif;
}

.oneshape {
  font-size: 18px;
}